# VSCode extension
/.favorites.json

# Build files
/lib/*.js
/lib/*.d.ts
/lib/**/*.d.ts
/lib/**/*.js

# TypeScript incremental build states
*.tsbuildinfo

cdk.out
# Local state files & OS specifics
.DS_Store
node_modules/
lerna-debug.log
dist/
pack/
.BUILD_COMPLETED
.local-npm/
.tools/
coverage/
.nyc_output
.nycrc
.LAST_BUILD
*.sw[a-z]
*~
.idea

# We don't want tsconfig at the root
/tsconfig.json

# CDK Context & Staging files
cdk.context.json
.cdk.staging/
cdk.out/
*.tabl.json

# Yarn error log
yarn-error.log

# Generated jest config
jest.config.gen.json